@font-face{
    font-family:"Raleway";
    src: url("font/Raleway/Raleway-VariableFont_wght.ttf") format("truetype"),
         url("font/Raleway/static/Raleway-Regular.ttf") format("truetype"),
         url("font/Raleway/static/Raleway-Medium.ttf") format("truetype"),
         url("font/Raleway/static/Raleway-SemiBold.ttf") format("truetype"),
         url("font/Raleway/static/Raleway-Bold.ttf") format("truetype"),
         url("font/Raleway/static/Raleway-ExtraBold.ttf") format("truetype");
    font-weight: 500;
}
body{
    font-family: "Raleway";
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 0px 100px 20px 100px;
}
header img{
    height: 100px;
    margin-top: 50px;
    object-fit: scale-down;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0px;
}
nav li{
    font-size: 30px;
    padding: 100px 35px 0px 35px;
}
nav li:hover{
    color: #0065FC;
    border-top: 2px #0065FC solid;
    padding-top: 70px;
    font-weight: bold;
}
.sign_in{
    color: #0065FC;
    font-weight: bolder;
}
a, a:visited{
    color: inherit;
    text-decoration: none;
}
#top{
    margin: 0px 100px 0px 100px;
}
section h1{
    font-size: 30px;
}
section .cards_section a p{
    font-size: 15px;
    margin: 15px 0px 10px 0px;
}
.search{
    display: flex;
}
.search i{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F2F2F2;
    height: 60px;
    width: 60px;
    border-radius: 10px 0px 0px 10px;
}
input{
    height: 55px;
    width: 400px;
    font-weight: bold;
    font-size: 20px;
    border: 2px #F2F2F2 solid;
    padding-left: 10px;
    margin-left: -1px;
}
input::placeholder{
    color: #000;
  }
.search a{
    display: flex;
    align-items: center;
    background-color: #0065FC;
    color: #FFF;
    height: 20px;
    padding: 20px;
    border-radius: 0px 10px 10px 0px;
}
.search a i{
    display: none;
}
#filters{
    display: flex;
    align-items: baseline;
}
#filters p{
    font-weight: bold;
}
#filters ul{
    margin-top: 10px;
    list-style: none;
    display: flex;
    padding-left: 0px;
    flex-wrap: wrap;
}
.filter_select{
    padding: 5px 15px 5px 10px;
    font-size: 20px;
    font-weight: bold;
}
#filters i{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #0065FC;
    background: #DEEBFF;
    padding: 12px;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    margin-left: -3px;
}
#filters li{
    display: flex;
    align-items: center;
    border: 3px #F2F2F2 solid;
    height: 60px;
    border-radius: 40px;
    margin: 10px 0px 0px 30px;
}
#info{
    display: flex;
    align-items: baseline;
}
#info i{
    font-size: 12px;
    color: #0065FC;
    border: 2px #F2F2F2 solid;
    border-radius: 20px;
    padding: 5px 8px 5px 8px;
    margin-right: 10px;
}
#filters li:hover{
    background-color: #0065FC;
    color: #FFF;
}
#cards_main{
    display: flex;
    margin: 0px 100px 10px 100px;
}
#cards_block .cards_section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#cards_block{
    background: #F2F2F2;
    border-radius: 30px;
    padding: 30px 30px 0px 30px;
    margin: 20px 30px 40px 0px;
    width: 70%;
}
#cards_block img{
    height: 200px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    display: block;
}
#cards_block figure{
    height: 300px;
    margin: 0px;
    border: 5px #FFF solid;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px #c0c0c0;
}
#cards_block a{
    width: 31%;
    margin-bottom: 25px;
    border-radius: 20px;
}
#cards_block figcaption{
    margin: 0px 5px 5px 5px;
}
#cards_block figcaption h3{
    font-weight: bold;
    font-size: 25px;
    margin: 6px 0px 5px 5px;
}
#cards_block figcaption p{
    font-size: 20px;
    margin: 0px 0px 5px 5px;
}
#cards_block .star_rating{
    color: #0065FC;
    font-size: 15px;
    margin: 7px 0px 0px 5px;
}
#cards_block p{
    margin-top: 10px;
}
#cards_block .expand_button{
    margin: 10px 0px 30px 0px;
}
#cards_block .expand_button a{
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
}
section p{
    font-size: 20px;
    margin: 20px 0px 20px 0px;
}
#cards_aside img{
    height: 190px;
    width: 40%;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
}
#cards_aside{
    background: #F2F2F2;
    border-radius: 30px;
    padding: 30px 30px 0px 30px;
    margin: 20px 0px 40px 0px;
    width:30%;
}
#cards_aside .cards_section{
    display: flex;
    flex-direction: column;
}
#cards_aside a{
    margin-bottom: 30px;
    border-radius: 20px;
}
#cards_aside figure{
    height: 190px;
    display: flex;
    border: 5px #FFF solid;
    border-radius: 20px;
    background-color: #FFF;
    margin: 0px;
    box-shadow: 0px 0px 10px #c0c0c0;
}
#cards_other{
    margin: 0px 100px 0px 100px;
}
h2{
    margin: 0px 0px 40px 0px;
    font-size: 30px;
}
#cards_aside figcaption h3{
    margin: 0px 0px 10px 10px;
    font-weight: bold;
    font-size: 25px;
    width: 70%;
}
#cards_aside figcaption p{
    font-size: 20px;
    margin: 0px 0px 10px 10px;
}
#cards_block .star_rating{
    font-size: 15px;
    margin: 7px 0px 0px 5px;
}
#cards_aside figcaption{
    display: flex;
    flex-direction: column;
    width: 60%;
}
#cards_aside .star_rating{
    margin-left: 10px;
}
#cards_aside .star_rating, #cards_block .star_rating{
    color: #0065FC;
    margin-top: auto;
}
#cards_bottom img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    flex: auto;
    height: 400px;
}
#cards_bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#cards_bottom a{
    border-radius: 20px;
    width: 23%;
}
.cards_bottom:nth-child(1){
    margin-right: 30px;
}
.cards_bottom_aside{
    display: flex;
    flex-direction: column;
    width: 23%;
}
#cards_bottom .cards_bottom_aside a{
    margin-right: 0px;
    width: 100%;
}
.cards_bottom_aside a:nth-child(1){
    margin-bottom: auto;
    height: 60%;
}
.cards_bottom_aside a:nth-child(2){
    height: 35%;
}
#cards_bottom figure, .cards_bottom_aside figure{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0px;
    box-shadow: 0px 0px 10px #c0c0c0;
    border-radius: 20px;
}
#cards_bottom figcaption{
    font-weight: bold;
    font-size: 25px;
    margin: 15px;
}
footer{
    display: flex;
    background-color: #F2F2F2;
    margin: 50px 0px 0px 0px;
    justify-content: space-between;
}
footer div{
    margin: 0px;
    width: 30%;
}
footer div ul{
    list-style: none;
    padding-left: 100px;
}
footer h3{
    font-size: 30px;
    font-weight: bold;
    padding-left: 100px;
}
footer li{
    padding-bottom: 10px;
    font-size: 20px;
}
#cards_block a:nth-child(1) i:nth-child(5), #cards_block a:nth-child(3) i:nth-child(5), #cards_block a:nth-child(5) i:nth-child(5), #cards_aside a:nth-child(2) i:nth-child(5), #cards_aside a:nth-child(3) i:nth-child(5), #cards_block a:nth-child(4) i:nth-child(5), #cards_block a:nth-child(4) i:nth-child(4){
    color: #d3d3d3;
}
@media screen and (max-width: 1921px)
{
    header {
        margin: 0px 50px 20px 50px;
    }
    header img{
        height: 50px;
    }
    #top{
        margin: 0px 50px 0px 50px;
    }
    nav li{
        font-size: 15px;
        padding: 70px 35px 0px 35px;
    }
    .search i{
        height: 32px;
        width: 32px;
    }
    input{
        height: 26px;
        width: auto;
        font-size: 12px;
    }
    .search a{
        height: 12px;
        padding: 10px;
    }
    #filters i{
        border-radius: 25px;
        height: 20px;
        width: 20px;
    }
    #filters li{
        border-radius: 25px;
        height: 40px;
    }
    .filter_select{
        font-size: 14px;
    }
    #cards_main{
        margin: 0px 50px 0px 50px;
    }
    #cards_block img{
        height: 100px;
    }
    #cards_block figure{
        height: 94%;
    }
    #cards_aside h2{
        display: flex;
        justify-content: space-between;
    }
    #cards_aside figure{
        height: auto;
    }
    #cards_block figcaption h3{
        font-size: 15px;
    }
    #cards_block figcaption p{
        font-size: 12px;
    }
    #cards_block .star_rating{
        font-size: 10px;
    }
    #cards_block .expand_button a{
        font-size: 15px;
    }
    #cards_aside img{
        height: 120px;
    }
    #cards_aside figcaption h3{
        font-size: 15px;
    }
    #cards_aside figcaption p{
        font-size: 12px;
    }
    #cards_aside .star_rating{
        font-size: 10px;
    }
    section h1{
        font-size: 18px;
    }
    section p{
        font-size: 15px;
    }
    #cards_other{
        margin: 0px 50px 0px 50px;
    }
    #cards_bottom img {
        height: 300px;
    }
    h2{
        margin: 0px 0px 30px 0px;
        font-size: 18px;
    }
    #cards_bottom figcaption{
        font-size: 15px;
    }
    footer h3{
        font-size: 16px;
        padding-left: 50px;
    }
    footer li{
        font-size: 15px;
    }
    footer div ul{
        padding-left: 50px;
    }
}
@media screen and (max-width: 769px)
{
    header{
        margin: 0px 30px 20px 30px;
        flex-wrap: wrap;
    }
    #top{
        margin: 30px 30px 0px 30px;
    }
    section h1{
        margin-bottom: 0px;
    }
    .search a i{
        display: none;
    }
    .search a p{
        margin: 0px 10px;
    }
    .search a{
        padding: 10px 0px 10px 0px;
        border-radius: 10px;
        margin-left: -10px;
    }
    #filters{
        flex-direction: column;
        margin: 10px 0px 0px 0px;
    }
    #filters p{
        margin-bottom: 0px;
    }
    #filters ul{
        margin-top: 20px;
    }
    #filters li{
        margin: 0px 10px 10px 0px;
    }
    #info p{
        margin-bottom: 0px;
    }
    #cards_main{
        flex-direction: column-reverse;
        align-items: center;
        margin: 0px;
        padding: 20px 30px 0px 30px;
    }
    #cards_block{
        margin: 0px;
        padding: 0px;
        width: auto;
        background: none;
    }
    #cards_block a{
        width: 31%;
        margin: 0px 0px 20px 0px;
    }
    section p{
        margin: 10px 0px 25px 0px;
    }
    #cards_aside{
        margin: 0px 0px 20px 0px;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }
    #cards_aside .cards_section{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    #cards_aside a{
        margin-bottom: 0px;
        width: 31%;
    }
    #cards_aside figure{
        flex-direction: column;
        height: 97%;
    }
    #cards_aside figcaption {
        width: 100%;
        height: 100%;
    }
    #cards_aside img{
        width: 100%;
        height: 100px;
        border-radius: 15px 15px 0px 0px;
    }
    h2{
        margin: 0px 0px 20px 0px;
    }
    #cards_block .expand_button {
        margin-bottom: 20px;
    }
    #cards_other{
        margin: 30px 30px 0px 30px;
    }
    #cards_bottom{
        width:100%;
    }
    #cards_bottom a{
        margin-bottom: 20px;
    }
    #cards_bottom img {
        height: 200px;
    }
    .cards_bottom:nth-child(1){
        margin-right: 0px;
    }
    .cards_bottom_aside a{
        margin-right: 0px;
        width: 100%;
        margin-bottom: 20px;
    }
    .cards_bottom_aside a:nth-child(1){
        margin-bottom: auto;
        height: 48%;
    }
    .cards_bottom_aside a:nth-child(2){
        margin-bottom: 0px;
        height: 48%;
    }
    footer div ul, footer div h3{
        padding-left: 30px;
    }
}
@media screen and (max-width: 601px)
{
    header{
        flex-direction: column;
        margin: 0px 0px 20px 0px;
    }
    header img{
        margin: 10px 0px 0px 10px;
        width: 30%;
    }
    .sign_in{
        border-bottom: none;
        position: absolute;
        right: 20px;    
        top: 30px;
        width: auto;
    }
    nav .sign_in:hover{
        border-bottom: none;
    }
    nav li{
        padding: 0px;
        border-bottom: 2px #F2F2F2 solid;
        width: 50%;
        display: flex;
        justify-content: center;
    }
    nav li:hover{
        border-top: none;
        border-bottom: 2px #0065FC solid;
        padding-top: 0px;
    }
    nav ul{
        padding-top: 20px;
    }
    #cards_block a {
        width: 48%;
    }
    footer{
        flex-direction: column;
        margin: 20px 0px 0px 0px;
        padding-top: 10px;
    }
    footer div{
        margin: 0px 20px 0px 20px;
        width: auto;
    }
    footer div ul, footer div h3{
        padding-left: 0px;
    }
}
@media screen and (max-width: 426px)
{
    #top{
        margin: 0px 20px 0px 20px;
    }
    .search a i{
        display: flex;
        background-color: #0065FC;
        height: 12px;
    }
    .search a p{
        display: none;
    }
    .search a{
        padding: 10px 0px 10px 0px;
        border-radius: 10px;
        margin-left: -10px;
    }
    #filters{
        flex-direction: column;
        margin: 10px 0px 0px 0px;
    }
    #filters p{
        margin-bottom: 0px;
    }
    #filters ul{
        width: 94%;
    }
    #filters li{
        margin: 0px 10px 10px 0px;
    }
    #info p{
        margin-bottom: 0px;
    }
    #cards_main {
        padding: 20px 20px 0px 20px;
    }
    #cards_block .cards_section{
        flex-direction: column;
    }
    #cards_block{
        background: none;
        border-radius: 0px;
        width: 100%;
        padding-top: 0px;
    }
    #cards_block a{
        width: auto;
        margin: 0px 0px 20px 0px;
    }
    section p{
        margin: 10px 0px 25px 0px;
    }
    #cards_aside .cards_section {
        flex-direction: column;
    }
    #cards_aside{
        border-radius: 0px;
        padding: 20px;
        margin: 0px 0px 25px 0px;
        width: 100%;
        box-sizing: initial;
    }
    #cards_aside a{
        margin-bottom: 20px;
        width: auto;
    }
    #cards_aside figure {
        flex-direction: row;
    }
    #cards_aside figcaption {
        width: 60%;
        height: auto;
    }
    #cards_aside img {
        height: 120px;
        width: 40%;
        border-radius: 15px 0px 0px 15px;
    }
    #cards_other{
        margin: 10px 20px 0px 20px;
    }
    #cards_bottom{
        flex-direction: column;
        height: auto;
        width:100%;
    }
    #cards_bottom a{
        width: 100%;
        height: 150px;
        margin-bottom: 20px;
    }
    .cards_bottom_aside{
        width: 100%;
    }
    .cards_bottom_aside a:nth-child(1){
        margin-bottom: 20px;
    }
}